<li id="post-<%= post._id %>">
    <p class="feed-posts">
        <%= post.content %></>
        <% if (locals.user && locals.user.id == post.user.id) { %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            </small>
        <% } %>
        <br>
        <small>
            -<%= post.user.name %> 
        </small>
        
        <!-- display the likes of this post, if the user is logged in, then show the link to toggle likes, else just show the count -->
        <br>
        <!-- data attribute -->
        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post._id %>&type=Post"><i class="fas fa-thumbs-up"></i> <%= post.likes.length %> 
                </a>
            <% } else { %>
                <%= post.likes.length %> Likes
            <% } %>
        </small>

    </p>
    <div class="post-comments">
        <% if (locals.user) { %>
            <form action="/comments/create" method="POST" id="new-comment-form">
                <input type="text" class="form-control" name="content" placeholder="Type Your Comments Here..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <button class="btn btn-outline-primary">Add Comment</button>
            </form>
        <% } %>

        <div id="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments) { %>
                    <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>
    </div>
</li>

